<header>
    <nav>
        <img src="assets/logo.png" alt="">
        <ul class="menu-pc">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/about.html">About</a></li>
            <li><a href="/pages/projects.html">Projects</a></li>
            <li><a href="/pages/skills.html">Skills</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
        <ul class="menu-phone">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/about.html">About</a></li>
            <li><a href="/pages/projects.html">Projects</a></li>
            <li><a href="/pages/skills.html">Skills</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
        <div class="menu-hamburguer">
            <div class="slices"></div>
            <div class="slices"></div>
            <div class="slices"></div>
        </div>
    </nav>
</header>